extends layouts/layout

block content 
  form(method="post")
    input(name="title", placeholder="Title", maxlength=80, required, value=movie.title)
    input(name="summary", placeholder="Summary", required, value=movie.summary) 
    input(name="year", placeholder="Release Year (Only Number)", max=nowYear type="number" required,value=movie.year) 
    input(name="rating", placeholder="Rating (0~10)",type="number" min="0" max="10" required, value=movie.rating) 
    input(name="genres", placeholder="Genres, separated by comma.",value=movie.genres.join()) 
    input(type="submit", value="Save Changes")