extends layouts/layout

block content
  div
    h2 영화 제목 : #{movie.title}
    p 줄거리 : #{movie.summary}
    span 개봉 년도 : #{movie.year} 년
    br
    span 평점 : #{movie.rating} / 10
    br
    span 장르 : #{movie.genres}

  ul
    li
      a(href=`${movie.id}/edit`) Edit Video &#10132;
    li
      a(href=`${movie.id}/delete`) Delete Video &#10132;


    
    
            